<br/>
<div align="center">
  <h1>Rachipedia</h1>
  <p class="lead">The alternative to Wikipedia that makes you lose weight and feel great!</p>
          <div class="col-md-6">
          <%= link_to "Free Plan", new_user_registration_path, class: 'btn btn-primary' %> 
          <p>Create as many public wikis as you want.</p>
        </div>
        <div class="col-md-6">
          <%= link_to "Upgrade to Premium Plan", new_charge_path, class: 'btn btn-primary' %>
          <p>Create private wikis and invite collaborators.</p>
        </div>
  <img src="assets/rachipedia.jpg" width="750px">
      <div class="row">
      </div>
  </p>
</div>